html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Segoe UI", "Arial", sans-serif;
  overflow-y: hidden;
  background-image: url(../images/background.png);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.mb100 {
  margin-bottom: 100px;
}

.pb6 {
  padding-bottom: 6px;
}
